@import "tailwindcss";

:root {
  --foreground: #171717;
  --muted: #999999;
  --subtle: #cccccc;
  --border: #ededed;
  --primary-foreground: #ffffff;
  --background: #ffffff;
  --primary: #f5a623;
  --primary-dark: #d98b1a;
  --accent: #6c5ce7;
  --accent-dark: #4e3dbf;
  --success: #4caf50;
  --error: #f44336;
  --warning: #ff9800;
  --info: #2196f3;
  --kakao-yellow: #FEE500;
  --kakao-brown: #3B2A1E;
}

@theme inline {
  /*--font-sans: var(--font-geist-sans);*/
  /*--font-mono: var(--font-geist-mono);*/
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-subtle: var(--subtle);
  --color-border: var(--border);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-info: var(--info);
  /* saffron-mango from uicolors.app */
  --color-saffron-mango-50: #fff9eb;
  --color-saffron-mango-100: #ffedc6;
  --color-saffron-mango-200: #ffd988;
  --color-saffron-mango-300: #ffc75f;
  --color-saffron-mango-400: #ffa720;
  --color-saffron-mango-500: #f98307;
  --color-saffron-mango-600: #dd5e02;
  --color-saffron-mango-700: #b73f06;
  --color-saffron-mango-800: #942f0c;
  --color-saffron-mango-900: #7a280d;
  --color-saffron-mango-950: #461202;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/font/SpoqaHanSansNeo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSansNeo';
  src: url('/font/SpoqaHanSansNeo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SpoqaHanSansNeo', Arial, Helvetica, sans-serif;
}
